Gateway API validations too strict for redirect status codes

**What happened**:
Gateway API has validations that only account for 301 and 302 HTTP Redirects.
https://github.com/kubernetes-sigs/gateway-api/blob/1edf7e93ae4bb8c5ea5cc2193586cfe1e5d15e2f/apis/v1/httproute_types.go#L1069

**What you expected to happen**:
[RFC 2616](https://www.rfc-editor.org/rfc/rfc2616#section-10.3) supports several other redirects, including: 303, 304, 305, and 307.

**Anything else we need to know?**:
Ask would be to align enum validations to RFC2616 section 10.3

Thank you!

It seems very reasonable to me to ensure that all the valid redirect codes can be used in this enum.

But it does raise the question of whether we should be testing the behavior for each redirect code? Currently we are only testing `301` in the conformance tests.

> It seems very reasonable to me to ensure that all the valid redirect codes can be used in this enum.

+1

> But it does raise the question of whether we should be testing the behavior for each redirect code? Currently we are only testing 301 in the conformance tests.

Yes, it does seem like some simple conformance tests around this would be ideal to help reduce implementations being caught off-guard by requirements.

>But it does raise the question of whether we should be testing the behavior for each redirect code? Currently we are only testing 301 in the conformance tests.

+1 on having conformance test coverage for the additional status codes.

The Kubernetes project currently lacks enough contributors to adequately respond to all issues.

This bot triages un-triaged issues according to the following rules:
- After 90d of inactivity, `lifecycle/stale` is applied
- After 30d of inactivity since `lifecycle/stale` was applied, `lifecycle/rotten` is applied
- After 30d of inactivity since `lifecycle/rotten` was applied, the issue is closed

You can:
- Mark this issue as fresh with `/remove-lifecycle stale`
- Close this issue with `/close`
- Offer to help out with [Issue Triage][1]

Please send feedback to sig-contributor-experience at [kubernetes/community](https://github.com/kubernetes/community).

/lifecycle stale

[1]: https://www.kubernetes.dev/docs/guide/issue-triage/

/remove-lifecycle stale

To loop back around, is it acceptable to follow RFC; outstanding action being additional conformance test coverage for addition of those status codes?

> /remove-lifecycle stale
> 
> To loop back around, is it acceptable to follow RFC; outstanding action being additional conformance test coverage for addition of those status codes?

Thanks for the follow up on this. Since this is relatively small in scope, I don't think we'd really need a GEP for this, but I'd love to see it get into v1.2.

Given all the supportive comments above, I think we can mark this as accepted.

/triage accepted

@JackStromberg do you have time to work on this?

RFC2616 is quite outdated, so the status list from the original post is incomplete.

RFC9110 adds the 308 response code as well https://httpwg.org/specs/rfc9110.html#status.308

fyi -- looks like this is being worked on.  Thank you @davidwin93!

Cross referencing: https://github.com/kubernetes-sigs/gateway-api/pull/3823